@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

* {
    font-family: "Droid Arabic Naskh", serif;
}

body {
    background: #ebeef0;
}

.row {
    max-width: 10000px;
}

.top-bar, .top-bar ul {
    background: black;
}

.content {
    padding: auto;
}

li.active {
    background: black;
}
.entire-content {

    margin-right: 0px;
    width: 100%;
    height: 100%;
}

.menu-div {
    background: #31373d;
    height: 100%;
    color: #c3cfd8;
}