<div class="large-1 columns menu-div">
    <ul class="menu vertical">
        <li><a href="../index.html">خانه</a></li>
        <li ><a href="index.html">اظهارنامه‌ها</a></li>
        <li><a href="../businessmen/index.html">لیست تجار</a></li>
        <li><a href="#">لیست قوانین</a></li>
        <li><a href="#">لیست مجوزها</a></li>
        <li><a href="#">پروفایل</a></li>
            <li><a href="../manager/Org/index.html">سازمان‌ها</a></li>
            <li><a href="../rules/rules_list.html">قانون‌ها</a></li>
            <li><a href="../reports/reports.html">گزارش‌ها</a></li>
    </ul>
</div>